.section-footer {
    background-color: #37415A;
    color:#FFFFFF;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-footer div {
    margin: 0px 60px 50px 60px;
}

.section-footer div h3 {
    text-transform: uppercase;
    padding: 60px 0px 20px 0px;
}

.location, .around-web, .about-freelancer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.around-web i {
    border: 1.5px solid #FFFFFF;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
}

.section-footer div p {
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.25rem;
}